@use "../variables/fonts" as font;
@use "../variables/palette" as palette;
@use "../variables/sizes" as size;
@use "../variables/mixins" as mixin;
@use "../variables/animations" as animation;

.link {
  @include mixin.text-style(size.$size--16, palette.$accent-color, 500);

  align-items: center;
  border: 1px solid transparent;
  border-radius: size.$size--4;
  box-sizing: border-box;
  display: inline-flex;
  fill: currentcolor;
  font-family: font.$content-font;
  grid-template-columns: auto 1fr;
  padding: size.$size--8 size.$size--12;
  position: relative;
  text-decoration: none;

  &::before {
    background-image: linear-gradient(
      135deg,
      palette.$accent-color-dark,
      palette.$accent-color,
      palette.$accent-color-light
    );
    background-size: 200% 200%;
    border-radius: inherit;
    content: "";
    display: block;
    height: 100%;
    inset: 0;
    opacity: 0%;
    position: absolute;
    width: 100%;
  }

  &:focus-within,
  &:active {
    color: palette.$primary-color-dark;
    fill: currentcolor;
  }

  &:focus-within {
    box-shadow: 0 0 size.$size--8 rgba(palette.$accent-color, 0.3);
    transform: scale(1.05);
  }

  &:active {
    box-shadow: 0 0 size.$size--8 rgba(palette.$accent-color, 0.3);
    transform: scale(0.98);
  }

  &__icon {
    height: size.$size--32;
    width: size.$size--32;
  }

  &__icon,
  &__text {
    position: relative;
    z-index: 1;
  }

  &__text {
    padding-inline-start: size.$size--4;
  }

  @media (hover: hover) {
    &,
    &::before {
      @include animation.transition();
    }

    &:hover {
      border-color: palette.$primary-color-dark;
      box-shadow: 0 0 size.$size--8 rgba(palette.$accent-color, 0.5);
      color: palette.$primary-color-dark;
      fill: currentcolor;
      transform: scale(1.05);
    }

    &:hover,
    &:focus-within,
    &:active {
      &::before {
        opacity: 80%;
      }
    }
  }

  @media (width <= 768px) {
    gap: 0;
    padding: size.$size--8;

    &__text {
      display: none;
    }

    &__icon {
      height: size.$size--40;
      width: size.$size--40;
    }
  }
}
