@use "../variables/palette" as palette;
@use "../variables/sizes" as size;
@use "../variables/animations" as animation;
@use "../variables/mixins" as mixin;

.print {
  @include mixin.flex-center();

  background-color: palette.$background-color;
  border: 2px solid palette.$primary-color-dark;
  border-radius: size.$size--12;
  box-sizing: border-box;
  color: palette.$primary-color-dark;
  cursor: pointer;
  fill: currentcolor;
  height: size.$size--40;
  justify-content: center;
  opacity: 75%;
  position: relative;
  width: size.$size--40;
  z-index: 2;

  &:focus-visible,
  &:active {
    fill: currentcolor;
  }

  &:focus-visible {
    box-shadow: 0 0 size.$size--12 rgba(palette.$accent-color, 0.3);
    color: palette.$accent-color-dark;
    transform: scale(1.05);
  }

  &:active {
    box-shadow: 0 0 size.$size--8 rgba(palette.$accent-color, 0.3);
    color: palette.$primary-color-dark;
    transform: scale(0.98);
  }

  &__icon {
    height: size.$size--24;
    width: size.$size--24;
  }

  @media (hover: hover) {
    @include animation.transition();

    &:hover {
      box-shadow: 0 0 size.$size--2 size.$size--4 rgba(palette.$primary-color-dark, 0.5);
      fill: palette.$accent-color-dark;
      opacity: 90%;
      transform: scale(1.1);
    }
  }
}
