node_modules/
jspm_packages/
out/
build/
.husky/
.idea/
.vscode/
.cache/
.github/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sublime-project
*.sublime-workspace
*.xml
*.tmp
*.swp
Thumbs.db
package-lock.json
.DS_Store
.env
.env.local
.babelrc
.eslintcache
.prettiercache
.stylelintcache
