$text-color: #333;
$text-color-light: #aaa;
$primary-color: #003c4f;
$primary-color-dark: #002e3d;
$accent-color: #1b91d0;
$accent-color-light: #71c0e8;
$accent-color-dark: #2b86bf;
$secondary-color: #f5f5f5;
$secondary-color-light: #eef2f6;
$white-color: #fff;
$gray-color: #666;
$black-color: #1a1a1a;
$success-color: #23963b;
$highlight-color: #0f4a6c;
$background-color: #f2f4f6;
